@import '../components/container/container.css';

@import '../components/text-field/text-field.css';
@import '../components/heading/heading.css';
@import '../components/svg-icon/svg-icon.css';
@import '../components/close-button/close-button.css';

@import '../components/header/header.css';
@import '../components/header/__container/header__container.css';
@import '../components/header/__burger-menu-button/header__burger-menu-button.css';
@import '../components/header/__desktop-menu-wrapper/header__desktop-menu-wrapper.css';
@import '../components/header/__navigation/header__navigation.css';

@import '../components/list/list.css';
@import '../components/list/_colgap/list_colgap_20.css';
@import '../components/list/__button/_underline/list__button_underline_work.css';
@import '../components/list/__button/_underline/list__button_underline_works-menu.css';

@import '../components/section-entry/section-entry.css';
@import '../components/section-entry/__heading/_text-style/section-entry__heading_text-style_skill.css';
@import '../components/section-entry/__descr/section-entry__descr.css';
@import '../components/section-entry/__heading/_margin/section-entry__heading_margin_skill.css';
@import '../components/section-entry/_padding/section-entry_padding_skill.css';
@import '../components/section-entry/__descr/_margin/section-entry__descr_margin_slider.css';
@import '../components/section-entry/__image/section-entry__image.css';
@import '../components/section-entry/__descr/_text-style/section-entry__descr_text-align_l.css';
@import '../components/section-entry/__inner/section-entry__inner.css';
@import '../components/section-entry/__descr/_margin/section-entry__descr_margin_work.css';
@import '../components/section-entry/__overlay-wrapper/section-entry__overlay-wrapper.css';
@import '../components/section-entry/__button/section-entry__button.css';

@import '../components/contact-form/__fieldset/contact-form__fieldset.css';
@import '../components/contact-form/__button/contact-form__button.css';

@import '../components/button/button.css';
@import '../components/button/_active/button_active_underlined.css';
@import '../components/button/_active/button_active_long-underline.css';

@import '../components/contact-form/contact-form.css';
@import '../components/contact-form/__text-area/contact-form__text-area.css';

@import '../components/burger-menu-button/burger-menu-button.css';
@import '../components/burger-menu-button/__middle-line/burger-menu-button__middle-line.css';

@import '../components/icon-button/__svg-icon/_size/icon-button__svg-icon_size_s.css';

@import '../components/logo/logo.css';
@import '../components/logo/__svg-icon/_fill/logo__svg-icon_fill_current.css';
@import '../components/logo/__svg-icon/_size/logo__svg-icon_size_s.css';
@import '../components/logo/_background-shape/logo_background-shape_square.css';
@import '../components/logo/_background-shape/logo_background-shape_circle.css';

@import '../components/footer/footer.css';
@import '../components/footer/__heading/footer__heading.css';
@import '../components/footer/__list/footer__list.css';
@import '../components/footer/__text/footer__outro-text.css';

@import '../components/freelance/freelance.css';
@import '../components/freelance/__button/freelance__button.css';

@import '../components/contact/contact.css';
@import '../components/contact/__form/contact__form.css';

@import '../components/slider/__dot/slider__dot.css';
@import '../components/slider/__dot/_active/slider__dot_active.css';
@import '../components/slider/__dots/slider__dots.css';

@import '../components/testimony/_heading/testimony__heading.css';
@import '../components/testimony/__slider/testimony__slider.css';

@import '../components/my-works/__list/my-works__list.css';
@import '../components/my-works/__inner/my-works__inner.css';
@import '../components/my-works/__section-entry/my-works__section-entry.css';

@import '../components/skills/skills.css';
@import '../components/skills/__inner/skills__inner.css';
@import '../components/skills/__section-entry/skills__section-entry.css';

@import '../components/main/main.css';
@import '../components/main/__container/main__container.css';
@import '../components/main/__img/main__img.css';
@import '../components/main/__img-wrapper/main__img-wrapper.css';
@import '../components/main/__name/main__name.css';
@import '../components/main/__name-wrapper/main__name-wrapper.css';
@import '../components/main/__title/main__title.css';


/* || VARIABLES */
:root {
    /* Colors */
    --base-color: #7572D5;
    --base-color-text: #FFF;
    --base-color-background: #1f1f20;
    --base-color-background-90: #1f1f20E6;
    --alt-color-background: #252527;
    --field-stroke: #4A4A4A;
    --on-top-arrow-background: #000000;
    --placeholder-color: #495057;
    --social-icons-background: #FFFFFF1A;
    --slider-inactive-dot: #FFFFFF80;

    /* Animation */
    --transition-duration: 0.2s;
}

/* || GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: Poppins, serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: var(--base-color-text);
    background-color: var(--base-color-background);
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
}

fieldset {
    padding: 0;
    border: none;
}

section {
    padding: 80px 0 80px;
}

section:nth-child(odd) {
    background-color: var(--alt-color-background);
}

/* || COMPONENTS */

.menu__link--with-mask--color_base {
    color: var(--base-color);
}

.menu__item--pos_relative {
    position: relative;
    color: var(--base-color);
}

.menu__item--pos_relative:hover::before {
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--base-color);
    z-index: -1;
}

.menu__item--pos_relative:hover .link-mask {
    transform: skew(12deg);
    color: var(--base-color-text);
    left: 3px;
}

.menu__item--pos_relative:hover .bottom-link-mask {
    left: -3px;
}

.menu__link--with-mask {
    display: inline-block;
    outline: solid 2px transparent;
    outline-offset: 3px;
    border-radius: 5px;
    transition: outline var(--transition-duration);
}

.menu__link--with-mask:focus-visible {
    outline-color: var(--base-color-text);
}

.menu__link--with-mask:hover {
    color: transparent;
}

.link-mask {
    display: inline-block;
    position: absolute;
    height: 50%;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: -2;
    color: transparent;
}

.bottom-link-mask { top: 50%; }

.inner-link-mask {
    display: inline-block;
    transform: translateY(-50%);
}

.menu--colgap-20 {
    column-gap: 20px;
}

.menu__logo--social-link-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: var(--social-icons-background);
    border-radius: 50%;
    transition: transform var(--transition-duration),
                color var(--transition-duration),
                background-color var(--transition-duration),
                outline-color var(--transition-duration),
                outline-offset 0.1s ease-out;
    color: var(--base-color);
    outline: solid 2px transparent;
    outline-offset: 0px;
}

.menu__logo--social-link-theme:hover {
    transform: translateY(-4px);
    color: var(--base-color-background-90);
    background-color: var(--base-color);
    outline-offset: 2px;
}

.menu__logo--social-link-theme:focus-visible {
    outline-color: var(--base-color);
}

@media only screen and (width >= 768px) {
    .section-entry_padding_skill {
    }

    .header__burger-menu-button {
        display: none;
    }

    .header__desktop-menu-wrapper {
        display: contents;
    }

    .my-works__section-entry {
        max-width: 540px;
    }
 
    .my-works__inner {
        grid-template-columns: repeat(2, minmax(330px, 540px));
    }

    .main {
        padding: 231px 0 298px
    }

    .main__container {
        justify-content: space-between;
        flex-direction: row;
    }

    .main__img {
        margin-right: 0px;
        width: 350px;
        height: 430px;
    }

    .main__img-wrapper::before {
        height: 470px;
        width: 360px;
    }

    .main__name {
        font-size: 50px;
        line-height: 50px;
    }
}

/* Header */ 
/* .header {
    background-color: var(--alt-color-background);
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 1;
} */

/* .header__container {
    display: flex;
    align-items: center;
    height: 100%;
} */
/* 
.header__open-mobile-menu-button {
    margin-left: auto;
    display: flex;
} */
/* 
.header__navigation {
    margin-left: auto;
    font-family: 'Josefin Sans', serif;
    font-size: 36px;
    line-height: 55px;
} */

/* .desktop-menu-wrapper {
    display: none;
} */

/* Section title */
/* .layout-section-title--position_relative {
    position: relative;
}

.layout-section-title--with-before::before {
    content: '';
    width: 55px;
    height: 1px;
    background-color: var(--base-color);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
} */


/* Container */
/* .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
} */

/* Default button */
/* .default-button {
    font-weight: 400;
    line-height: 21px;
    color: var(--base-color-text);
    border-radius: 2px;
    outline: solid 2px transparent;
    outline-offset: 3px;
    transition: outline var(--transition-duration);
    letter-spacing: 1px;
    width: max-content;
    cursor: pointer;
}

.default-button:focus-visible {
    outline-color: var(--base-color);
} */

/* Descktop menu */
/* .desktop-menu-container {
    display: flex;
    align-items: center;
    height: 100%;
} */

/* Menu */
/* .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
} */

/* Text field */
/* .text-field {
    background-color: var(--alt-color-background);
    border: 1px solid var(--field-stroke);
    padding: 6px 15px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    outline: none;
    color: var(--base-color-text);
    caret-color: var(--base-color);
    transition: border-color var(--transition-duration);
    width: 100%;
}

.text-field:focus {
    border-color: var(--base-color);
}

.text-field::placeholder {
    color: var(--placeholder-color);
} */

/* Main title */
/* .main-title {
    display: inline;
    font-size: 27px;
    line-height: 40px;
    color: var(--base-color-text);
    font-weight: 400;
    margin: 0;
} */

/* Section title */
/* .layout-section-title {
    font-family: 'Josefin Sans', serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 5px;
} */

/* Subsection title */
/* .subsection-title {
    font-family: 'Josefin Sans', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    color: var(--base-color-text);
} */

/* Mobile menu button */
/* .open-mobile-menu-button {
    width: 36px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.open-mobile-menu-button__middle-line {
    height: 2px;
    background-color: var(--base-color-text);
    width: 100%;
}

.open-mobile-menu-button__middle-line::before, 
.open-mobile-menu-button__middle-line::after {
    content: '';
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0
}

.open-mobile-menu-button__middle-line::after {
    top: auto;
    left: 16px;
    bottom: 0;
} */

/* Close button */
/* .close-button {
    position: relative;
    width: 24px;
    height: 24px;
}

.close-button::before, .close-button::after {
    content: '';
    height: 2px;
    position: absolute;
    background-color: white;
    width: 32px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    left: -4px;
}

.close-button::after {
    transform: translateY(-50%) rotate(-45deg);
} */

/* Icon button */

/* .button__svg-icon {
    width: 30px;
    height: 30px;
} */

/* Default form */
/* .default-form {
    display: grid;
    row-gap: 16px;
}

.default-form__text-area {
    height: 155px;
    resize: none;
}

.default-form__default-button {
    justify-self: center;
} */

/* Section entry */
/* .section-entry {
    display: flex;
    flex-direction: column;
} */

/* .section-entry__text-content {
} */

/* Image */
/* .section-entry__image {
    height: 260px;
    object-fit: cover;
    width: 100%;
} */

/* .section-entry__slide-author {
    font-family: 'Josefin Sans', serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    align-self: center;
} */

/* Slider */
/* .slider {} */

/* .slider__dots {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    margin-top: 42px;
} */

/* .slider__dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: var(--slider-inactive-dot);
    border-radius: 50%;
} */

/* .slider__dot--active {
    width: 20px;
    border-radius: 5px;
    background-color: var(--base-color);
} */


/* Main */
/* .main {
    padding: 65px 0 80px;
} */

/* .main__name {
    font-family: 'Josefin Sans', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: var(--base-color-text);
    margin-top: 15px;
    margin-bottom: 22px;
} */
/* 
.main__name_wrapper {
    position: relative;
    text-wrap: nowrap;
    z-index: 0;
}

.main__name_wrapper::after {
    content: '';
    position: absolute;
    height: 20px;
    background-color: var(--base-color);
    bottom: -7px;
    left: 0;
    right: 0;
    z-index: -1;
} */

/* .main__img {
    height: 380px;
    width: 310px;
    object-fit: cover;
    margin-right: 20px;
    display: block;
    position: relative;
} */

/* .main_img_wrapper {
    position: relative;
}

.main_img_wrapper::before {
    content: '';
    box-sizing: content-box;
    display: block;
    position: absolute;
    width: 314px;
    height: 414px;
    border: 5px solid var(--base-color);
    top: -25px;
    left: 12px;
} */

/* .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 65px;
} */


/* Skills */

/* .skills-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    row-gap: 102px;
    column-gap: 40px;
} */

/* My words */

/* .my-works__navigation {
    padding: 0 10px;
    margin: 84px 0 49px;
} */

/* .works-text-content-wrapper {
    padding: 25px 20px 34px 20px;
} */

/* Testimony */

/* .testimony__slider {
    margin-top: 115px;
} */

/* Contact */


/* .contact__default-form {
    margin: 74px 0 25px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
} */

/* Footer */
/* .footer {
    padding: 40px 0;
} */

/* .footer__outro-text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: var(--slider-inactive-dot)
} */
/* 
.footer__layout-section-title {
    font-family: 'Josefin Sans', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 3px;
} */

/* .footer__menu {
    margin: 30px 0;
} */

/* Arrow up */
/* .icon-button--pos_fixed {
    position: fixed;
    bottom: 24px;
    right: 30px;
} */

/* || MODIFIERS */

/* Slider */
/* .section-entry--test-slide-width {
    max-width: 500px;
    margin: 0 auto;
} */

/* Testimony */
/* .section-entry__text-content--testimony-margin {
    margin-top: 72px;
    margin-bottom: 22px;
} */

/* My Works */
/* .navigation__menu--just_sb {
    justify-content: space-between;
    max-width: 352px;
    margin: 0 auto;
}

.my-works__section-section-entry {
    background-color: var(--alt-color-background);
    flex: 1 1 350px;
}

.my-works-wraper {
    display: grid;
    column-gap: 60px;
    row-gap: 30px;
    justify-items: center;
    grid-template-columns: 1fr;
    align-items: start;
} */

/* Skills */
/* .skills__layout-section-title {
    margin-bottom: 107px;
} */

/* .section-entry__subsection-title--skills-margin {
    margin-bottom: 15px;
    margin-top: 71px;
} */

/* Section entry */
/* .section-entry__text-content--text_centered {
    text-align: center;
}

.section-entry__subsection-title--left-aligned {
    text-align: left;
}

.section-entry__subsection-title--small-margin {
    margin: 25px 0 14px;
}

.section-entry__text-content--left-aligned {
    text-align: left;
}

.section-entry__text-content--works-margin {
    margin: 14px 0 10px;
} */
/* 
.navigation__menu--no-justify {
    justify-content: flex-start;
} */

/* .navigation__menu--col-gap20 {
    column-gap: 20px;
} */

/* Social icon links menu */

/* Default button */
/* .default-button--with-after {
    position: relative;
    z-index: 0;
} */

/* .default-button--with-after::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10px;
    background-color: var(--base-color);
    opacity: 0;
    z-index: -1;
    transition: visibility var(--transition-duration), opacity var(--transition-duration);
}

.default-button--with-after:active::after {
    opacity: 1;
} */

/* Menu */
/* .menu__default-button--after_long::after {
    width: calc(100% + 20px);
} */

/* .menu__default-button--after_behind::after {
    bottom: -3px;
} */


/* Form */
/* .default-form__default-button--after_short::after {
    width: 67.5%;
} */

/* Skills icons */
/* .logo__svg-wrapper--big {
    position: relative;
    width: max-content;
    height: 50px;
} */
/* 
.logo__svg-wrapper--with-before::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--social-icons-background);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
} */

/* Freelance */


/* 
.freelance__layout-section-title {
    margin-bottom: 91px;
}

.freelance__default-button--after_long::after {
    width: calc(100% + 20px);
    bottom: -6px;
} */


/* || OTHER STYLES */


/* (Header | mobile) menu nav links mask */

