/* || VARIABLES */
:root {
    /* Colors */
    --base-color: #7572D5;
    --base-color-text: #FFF;
    --base-color-background: #1f1f20E6;
    --alt-color-background: #252527;
    --field-stroke: #4A4A4A;
    --on-top-arrow-background: #000000;
    --placeholder-color: #495057;
    --social-icons-background: #FFFFFF1A;

    /* Animation */
    --transition-duration: 0.2s;
}

/* || GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: Poppins, serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: var(--base-color-text);
    background-color: var(--base-color-background);
}

img {
    max-width: 100%;
    width: 100%
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h2, h3 {
    text-align: center;
}

button {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
}

/* || COMPONENTS */

/* Container */
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Default button */
.default-button {
    position: relative;
    font-weight: 400;
    line-height: 21px;
    color: var(--base-color-text);
    border-radius: 2px;
    outline: solid 2px transparent;
    outline-offset: 3px;
    transition: outline var(--transition-duration);
    letter-spacing: 1px;
    width: max-content;
}

.default-button:focus-visible {
    outline-color: var(--base-color);
}

.default-button::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 35px);
    height: 10px;
    background-color: var(--base-color);
    opacity: 0;
    transition: visibility var(--transition-duration), opacity var(--transition-duration);
}

.default-button:active::after {
    opacity: 1;
}

/* Svg icon */
.svg-icon {
    fill: currentColor;
    display: inline-block;
    height: 100%;
}

.header__container {
    height: 55px;
    display: flex;
    align-items: center;
}

.header__toggle-mobile-menu-button {
    display: none;
}

.header__desktop-menu-container {
    flex: 1 1 auto;
}

/* Descktop menu */
.desktop-menu-container {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* Header navigation */
.header__navigation {
    font-family: 'Josefin Sans', serif;
    font-size: 30px;
    line-height: 55px;
    margin-left: auto;
}

.menu__item--relative-mask-wrapper {
    position: relative;
    color: var(--base-color);
}

.menu__item--relative-mask-wrapper:hover::before {
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--base-color);
    z-index: -1;
}

.menu__item--relative-mask-wrapper:hover .link-mask {
    transform: skew(12deg);
    color: var(--base-color-text);
    left: 3px;
}

.menu__item--relative-mask-wrapper:hover .bottom-link-mask {
    left: -3px;
}

.menu__link--with-mask {
    color: var(--base-color);
    display: inline-block;
    outline: solid 2px transparent;
    outline-offset: 3px;
    border-radius: 5px;
    transition: outline var(--transition-duration);
}

.menu__link--with-mask:focus-visible {
    outline-color: var(--base-color-text);
}

.menu__link--with-mask:hover {
    color: transparent;
}

/* Text field */
.text-field {
    background-color: var(--alt-color-background);
    border: 1px solid var(--field-stroke);
    padding: 6px 15px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    outline: none;
    color: var(--base-color-text);
    caret-color: var(--base-color);
    transition: border-color var(--transition-duration);
    width: 100%;
}

.text-field:focus {
    border-color: var(--base-color);
}

.text-field::placeholder {
    color: var(--placeholder-color);
}

/* Main title */
.main-title {
    display: inline;
    font-size: 27px;
    line-height: 40px;
    color: var(--base-color-text);
    font-weight: 400;
    margin: 0;
}

/* Section title */
.layout-section-title {
    font-family: 'Josefin Sans', serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 5px;
    position: relative;
}

.layout-section-title::before {
    content: '';
    width: 55px;
    height: 1px;
    background-color: var(--base-color);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
}

/* Subsection title */
.subsection-title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    color: var(--base-color-text);
}

/* Social icon links menu */
.menu--colgap-20 {
    column-gap: 20px;
}

.menu__logo--social-link-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: var(--social-icons-background);
    border-radius: 50%;
    transition: transform var(--transition-duration),
                color var(--transition-duration),
                background-color var(--transition-duration),
                outline-color var(--transition-duration),
                outline-offset 0.1s ease-out;
    color: var(--base-color);
    outline: solid 2px transparent;
    outline-offset: 0px;
}

.menu__logo--social-link-theme:hover {
    transform: translateY(-4px);
    color: var(--base-color-background);
    background-color: var(--base-color);
    outline-offset: 2px;
}

.menu__logo--social-link-theme:focus-visible {
    outline-color: var(--base-color);
}

.menu__svg-icon--social-link-sized {
    width: 21px;
    height: 21px;
}

/* Mobile menu button */
.open-mobile-menu-button {
    width: 36px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.open-mobile-menu-button__middle-line {
    height: 2px;
    background-color: var(--base-color-text);
    width: 100%;
}

.open-mobile-menu-button__middle-line::before, 
.open-mobile-menu-button__middle-line::after {
    content: '';
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0
}

.open-mobile-menu-button__middle-line::after {
    top: auto;
    left: 16px;
    bottom: 0;
}

/* Close button */
.close-button {
    position: relative;
    width: 24px;
    height: 24px;
}

.close-button::before, .close-button::after {
    content: '';
    height: 2px;
    position: absolute;
    background-color: white;
    width: 32px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    left: -4px;
}

.close-button::after {
    transform: translateY(-50%) rotate(-45deg);
}

/* Icon button */
.icon-button {}

.button__svg-icon {
    width: 30px;
    height: 30px;
}

/* Logo */ 
.logo {
    color: var(--base-color);
    display: flex;
    justify-content: center;
}

/* Header */ 
.header {
    background-color: var(--base-color-background);
    position: fixed;
    left: 0;
    right: 0;
}

/* Default form */
.default-form {
    display: grid;
    row-gap: 16px;
}

.default-form__text-area {
    height: 155px;
    resize: none;
}

.default-form__button {
    justify-self: center;
}

/* Skill */
.skill {
    border: 2px solid red;
}
.skill__subsection-title {
    margin-bottom: 15px;
    margin-top: 71px;
}

.skill__text-content {
    text-align: center;
}

/* Work */
.work {
    border: 2px solid purple;
}

.work__subsection-title {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 14px;
}

/* Image */
.work__image {
    height: 260px;
    object-fit: cover;
}

/* || MODIFIERS */

/* Default button */
.menu__default-button--long-after::after {
    width: calc(100% + 20px);
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
}

/* Header navigation menu */
.navigation__menu--gap20 {
    column-gap: 20px;
}

/* Skills icons */
.logo__svg-wrapper--h50 {
    position: relative;
    width: max-content;
    height: 50px;
}

.logo__svg-wrapper--h50::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--social-icons-background);
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/* || OTHER STYLES */

/* (Header | mobile) menu nav links mask */
.link-mask {
    display: inline-block;
    position: absolute;
    height: 50%;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: -2;
    color: transparent;
}

.bottom-link-mask {
    top: 50%;
}

.inner-link-mask {
    display: inline-block;
    transform: translateY(-50%);
}

@media only screen and (width < 768px) {
    .desktop-menu-container {
        display: none
    }

    .header__toggle-mobile-menu-button {
        display: flex;
    }

    .header__container {
        justify-content: flex-end;
    }
}
